body {
    width: 115.2rem;
    height: 204.1rem;
    margin: auto;
}


header {
    height: 52.5rem;
    display: flex;
    justify-content: space-around;

}



.container{
    width: 50.6rem;
}

.container h1{
    height: 10.5rem;
    width: 50.6rem;

    margin-top: 15.8rem;

    font-family: 'Heebo';
    font-weight: 700;
    font-size: 4.4rem;
}

.container p {
    width: 49.7rem;
    height: 6.6rem;

    margin-top: 4rem;

    font-weight: 400;
    font-size: 1.6rem;
}

.container button{
    margin-top: 4.7rem;
    width: 20.8rem;
    height: 4.7rem;

    background-color: var(--curiculoButtonColor);
    color: var(--textButtonColor);

    font-weight: 500;
    font-size: 2rem;

    border: none;
    border-radius: 0.2rem;

    margin-bottom: 7.1rem;
}


.myPhoto img{
    width: 243px;
    height: 243px;
    border-radius: 50%;
}


.myPhoto {
    display: flex;
    align-items: center;

}